<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<!-- ex )) <typeAlias type="com.iu.s1.product.ProductDTO" alias="ProductDTO"/> -->
  		<typeAlias type="com.main.branch.board.BoardDTO" alias="BoardDTO"/>
  		<typeAlias type="com.main.branch.board.BoardPicDTO" alias="BoardPicDTO"/>
  		<typeAlias type="com.main.branch.board.BoardImgDTO" alias="BoardImgDTO"/>
  		
  		<typeAlias type="com.main.branch.product.ProductDTO" alias="ProductDTO"/>
  		<typeAlias type="com.main.branch.product.ProductPicDTO" alias="ProductPicDTO"/>
  		
  		<typeAlias type="com.main.branch.review.ReviewDTO" alias="ReviewDTO"/>
  		  		
  		<typeAlias type="com.main.branch.member.MemberDTO" alias="MemberDTO"/>
  		
  		<typeAlias type="com.main.branch.inquiry.InquiryDTO" alias="InquiryDTO"/>
  		<typeAlias type="com.main.branch.InqComments.InqCommentsDTO" alias="InqCommentsDTO"/>
  		
  		<typeAlias type="com.main.branch.comments.CommentsDTO" alias="CommentsDTO"/>
  		<typeAlias type="com.main.branch.commentsReply.CommentsReplyDTO" alias="CommentsReplyDTO"/>
  		
  		<typeAlias type="com.main.branch.notice.NoticeDTO" alias="NoticeDTO"/>
  		
  		<typeAlias type="com.main.branch.chat.RoomDTO" alias="RoomDTO"/>
  		<typeAlias type="com.main.branch.chat.MessageDTO" alias="MessageDTO"/>
  		
  		<typeAlias type="com.main.branch.event.EventDTO" alias="EventDTO"/>
  		
  		<typeAlias type="com.main.branch.notify.NotifyDTO" alias="NotifyDTO"/>
  		
  		<typeAlias type="com.main.branch.pay.PayDTO" alias="PayDTO"/>
  		
  		<typeAlias type="com.main.branch.util.Pager" alias="Pager"/>
  		<typeAlias type="java.lang.String" alias="String"/>
  		<typeAlias type="java.lang.Integer" alias="Integer"/>
  		
  	</typeAliases>
  </configuration>