<div class="head_in w1230">
    <h1><a href="/main/index.jsp" title="메인화면으로이동"><img src="/data/file/e69e843b2e715ad0390d80e8e54d2a97.png" alt="워너에듀" class="svg_logo"></a></h1>
    <a href="/mypage/index.jsp" class="mypage bgColor">마이페이지</a>
    <ul class="m_util">
        <li class="member">
            <a href="/mypage/index.jsp"><img src="/theme/6/img/main/member_m.png" alt="마이페이지"></a>
        </li>
        <li class="showMask"><a><img src="/theme/6/img/main/search_m.png" alt="검색"></a></li>
        <li class="btnMenu_m"><a><img src="/theme/6/img/main/sitemap_m.png" alt="사이트맵"></a></li>
    </ul>
</div>