<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.main.branch.board.BoardDAO">
 	<sql id="boardCondition">
 		<where>
 			<if test="kind=='title'">
 				BOARDTITLE LIKE '%' || #{search} ||'%'
 			</if>
 			<if test="kind=='contents'">
 				BOARDCONTENTS LIKE '%' || #{search} || '%'
 			</if>
 			<if test="kind=='writer'">
 				MEMBERID LIKE '%' || #{search} || '%'
 			</if>
 		</where>
 		<if test="category != null and category !=''">
 			AND boardCategory = #{category}
 		</if>
 		<if test="state != null and state != ''">
 			AND boardState = #{state}
 		</if>
 	</sql>
 
 	<select id="getTotalCount" resultType="Integer" parameterType="Pager">
 		SELECT COUNT(BOARDNUM) FROM BOARD
 		<include refid="boardCondition"></include>
 	</select>
 
 	<select id="getBoardList" resultType="BoardDTO" parameterType="Pager">
 		SELECT * FROM (
 			SELECT ROWNUM R,B.* FROM(
 				SELECT BOARDNUM, MEMBERID, BOARDTITLE, BOARDHIT,BOARDDATE, BOARDCATEGORY FROM BOARD 
 				<include refid="boardCondition"></include>
 				ORDER BY BOARDNUM DESC
 				)B
 			)
 		WHERE R BETWEEN #{startRow} AND #{lastRow}
 	</select>
 	
 	<select id="getBoardDetail" parameterType="BoardDTO" resultType="BoardDTO" >
 		SELECT * FROM BOARD WHERE BOARDNUM=#{boardNum}
 	</select>
 	
 	<insert id="setBoardAdd" parameterType="BoardDTO">
 		<selectKey keyProperty="boardNum" resultType="Integer" order="BEFORE">
 			SELECT SEQ.NEXTVAL FROM DUAL
 		</selectKey>
 		INSERT INTO BOARD VALUES(#{boardNum},#{memberId},#{boardTitle},#{boardContents},#{boardPrice},SYSDATE,0,#{boardState},#{boardCategory})
 	</insert>
 	
 	<delete id="setBoardDelete" parameterType="BoardDTO">
 		DELETE BOARD WHERE BOARDNUM=#{boardNum}
 	</delete>
 	
 	<update id="setBoardUpdate" parameterType="BoardDTO">
 		UPDATE BOARD SET BOARDTITLE=#{boardTitle}, BOARDCONTENTS=#{boardContents},BOARDPRICE=#{boardPrice},BOARDSTATE=#{boardState},BOARDCATEGORY= #{boardCategory} 
 		WHERE BOARDNUM=#{boardNum}
 	</update>
 	
 	
 	
 	
 	<!--  -->
 	<insert id="setBoardPicAdd" parameterType="BoardPicDTO">
 		INSERT INTO BOARDPIC VALUES (#{boardNum},#{memberId})
 	</insert>
 	
 	<delete id="setBoardPicDelete" parameterType="BoardPicDTO">
 		DELETE BOARDPIC WHERE BOARDNUM=#{boardNum} AND memberId = #{memberId}
 	</delete>
 	
 	<select id="getBoardPicList" parameterType="BoardPicDTO" resultType="BoardPicDTO">
 		SELECT * FROM BOARDPIC WHERE memberId = #{memberId}
 	</select>
 	
 </mapper>