<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.main.branch.InqComments">
 
 	<sql id="searchCondition">
 			WHERE
			<choose>
				<when test="kind == 'memberId'">
					memberId
				</when>
				<otherwise>
					inqCommentsContents
				</otherwise>
			</choose>
			LIKE '%' || #{search} || '%' AND inquiryNum = #{inquiryNum}
 	</sql>
 	<select id="getInqCommentsList" parameterType="Pager" resultType="InqCommentsDTO">
 		SELECT * FROM(
		SELECT ROWNUM R,A.* FROM
		(
			SELECT * FROM INQCOMMENTS <include refid="searchCondition"></include>
			ORDER BY inqCommentsNum DESC
			) A
		)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
 	</select>
 	<select id="getInqCommentsCount" parameterType="Pager" resultType="Integer">
 		SELECT COUNT(*) FROM INQCOMMENTS <include refid="searchCondition"></include>
 	</select>
 	
 	
 	<insert id="setInqCommentsAdd" parameterType="InqCommentsDTO">
 		INSERT INTO INQCOMMENTS VALUES(SEQ.NEXTVAL,#{inquiryNum},#{memberId},#{inqCommentsContents})
 	</insert>
 	
 	<update id="setInqCommentsUpdate" parameterType="InqCommentsDTO">
 		UPDATE INQCOMMENTS SET inqCommentsContents = #{inqCommentsContents} WHERE inqCommentsNum = #{inqCommentsNum}
 	</update>
 	
 	<delete id="setInqCommentsDelete" parameterType="InqCommentsDTO">
 		DELETE INQCOMMENTS WHERE inqCommentsNum = #{inqCommentsNum}
 	</delete>
 	<select id="getInqCommentsDetail" parameterType="InqCommentsDTO" resultType="InqCommentsDTO">
 		SELECT * FROM INQCOMMENTS WHERE inqCommentsNum = #{inqCommentsNum}
 	</select>
 </mapper>
 
<!--  private Integer inqCommentsNum;
	private Integer inquiryNum;
	private String memberId;
	private String inqCommentsContents; -->