<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.main.branch.inquiry.InquiryDAO">
	 <sql id="listSearchCondition">
 			WHERE
	 		<choose>
		 		 <when test="kind == 'inquiryTitle'">
		 		 	inquiryTitle 
		 		 </when>
		 		 <otherwise>
		 		 	inquiryDetail 
		 		 </otherwise>
	 		</choose>
	 			LIKE '%' || #{search} || '%'
	 			<if test="category != null and category != ''">
	 				AND inquiryCategory = #{category}
	 			</if>
	 			<if test="memberId != null and memberId != ''">
	 				AND memberId = #{memberId}
	 			</if>
 	</sql>
 	<select id="getInquiryList" parameterType="Pager" resultType="InquiryDTO">
 		SELECT * FROM(
			SELECT ROWNUM R,A.*
				FROM(
					SELECT * FROM Inquiry <include refid="listSearchCondition"></include> 
					ORDER BY inquiryNum DESC
				) A
			)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
 	</select>
 	<select id="getInquiryCount" parameterType="Pager" resultType="Integer">
 		SELECT COUNT(*) FROM INQUIRY
 		<include refid="listSearchCondition"></include>
 	</select>
 	<update id="setInquriyUpdate" parameterType="InquiryDTO">
 		UPDATE INQUIRY SET inquiryTitle = #{inquiryTitle}, inquiryDetail = #{inquiryDetail}, inquiryCategory = #{inquiryCategory}
 		WHERE inquiryNum = #{inquiryNum}
 	</update>
 	<insert id="setInquriyAdd" parameterType="InquiryDTO">
 		<selectKey keyProperty="inquiryNum" order="BEFORE" resultType="Integer">
 			SELECT SEQ.NEXTVAL FROM DUAL
 		</selectKey>
 		INSERT INTO INQUIRY VALUES(#{inquiryNum},#{memberId},#{inquiryTitle},#{inquiryDetail},#{inquiryCategory})
 	</insert>
 	<select id="getInquriyDetail" parameterType="InquiryDTO" resultType="InquiryDTO">
 		SELECT * FROM(
		SELECT ROWNUM r,A.* FROM 
		(SELECT * FROM INQUIRY ORDER BY inquiryNum DESC) A)
		WHERE inquiryNum = #{inquiryNum}
<!--  		SELECT * FROM INQUIRY WHERE inquiryNum = #{inquiryNum} -->
 	</select>
 	
 	<select id="getInquriyDetailRowNum" parameterType="InquiryDTO" resultType="InquiryDTO">
 		SELECT * FROM(
		SELECT ROWNUM r,A.* FROM 
		(SELECT * FROM INQUIRY ORDER BY inquiryNum DESC) A)
		WHERE r = #{r}
 	</select>
 	<delete id="setInquiryDelete" parameterType="InquiryDTO">
 		DELETE INQUIRY WHERE inquiryNum = #{inquiryNum}
 	</delete>
 </mapper>
 
<!--  private Integer inquiryNum;
	private String memberId;
	private String inquiryTitle;
	private String inquiryDetail;
	private String inquiryCategory; -->