<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.main.branch.product.ProductDAO">
  
  <sql id="searchCondition">
  		<choose>
  			 <when test="kind == 'contents'">
  			 	WHERE PRODUCTDETAIL LIKE '%' || #{search} || '%'
  			 </when>
  			 <otherwise>
  			 	WHERE PRODUCTTITLE LIKE '%' || #{search} || '%'
  			 </otherwise>
  		</choose>
  		<if test="category != null and category !=''">
	 			AND productCategory = #{category}
 		</if>
 		<if test="state != null and state != ''">
 				AND state = #{state}
 		</if>
 		<if test="memberId != null and memberId != ''">
 				AND memberId = #{memberId}
 		</if>
  </sql>
  
  <select id="getProductCount" parameterType="Pager" resultType="Integer">
  	SELECT COUNT(PRODUCTNUM) FROM PRODUCT
  		<include refid="searchCondition"></include>
  		AND PRODUCTQ IS NOT NULL
  </select>
  
  <select id="getProductList" parameterType="Pager" resultType="ProductDTO">
  	SELECT * FROM 
  		(
  			SELECT ROWNUM R, P.*FROM
  				(
  					SELECT * FROM PRODUCT
  					<include refid="searchCondition"></include>
  					AND PRODUCTQ IS NOT NULL
  					ORDER BY PRODUCTNUM DESC
  				)P
  		)
  	WHERE R BETWEEN #{startRow} AND #{lastRow}
  	
  </select>
  
  <select id="getProductNum" resultType="Integer">
  	SELECT SEQ_SEQ.NEXTVAL FROM DUAL
  </select>
  
  <select id="getProductMyList" parameterType="Pager" resultType="ProductDTO">
  	SELECT * FROM 
  		(
  			SELECT ROWNUM R, P.*FROM
  				(
  					SELECT * FROM PRODUCT
  					
  					WHERE MEMBERID = #{memberId}
  						
  					ORDER BY PRODUCTNUM DESC
  				)P
  		)
  	WHERE R BETWEEN #{startRow} AND #{lastRow}
  </select>
  
  <select id="getProductDetail" parameterType="ProductDTO" resultType="ProductDTO">
  	SELECT * FROM PRODUCT
  	WHERE PRODUCTNUM = #{productNum}
  </select>
  
  <insert id="setProductAdd" parameterType="ProductDTO">
 		<selectKey keyProperty="productNum" resultType="Integer" order="BEFORE">
 			SELECT SEQ.NEXTVAL FROM DUAL
 		</selectKey>
 		INSERT INTO PRODUCT 
 		VALUES(#{productNum}, #{memberId} ,#{productTitle}, #{productPrice}, #{productDetail},#{productCategory} , NULL, #{productImgName}, 0, 0)
 	</insert>
  
  <delete id="setProductDelete" parameterType="ProductDTO">
	DELETE  PRODUCT
	WHERE PRODUCTNUM = #{productNum}  
  </delete>
  
  <update id="setProductUpdate" parameterType="ProductDTO">
  	UPDATE PRODUCT SET PRODUCTTITLE = #{productTitle}, PRODUCTPRICE = #{productPrice}, PRODUCTDETAIL = #{productDetail}, PRODUCTCATEGORY = #{productCategory}
  	WHERE PRODUCTNUM = #{productNum}
  </update>
  
  <update id="setProductAddConfirm" parameterType="ProductDTO">
  	UPDATE PRODUCT SET PRODUCTQ = #{productQ}
  	WHERE PRODUCTNUM = #{productNum}
  </update>
  
   <select id="getProductAddCount" parameterType="Pager" resultType="Integer">
  	SELECT COUNT(PRODUCTNUM) FROM PRODUCT
  		<include refid="searchCondition"></include>
  		AND PRODUCTQ IS NULL
  </select>
  
  <select id="getProductAddList" parameterType="Pager" resultType="ProductDTO">
  	SELECT * FROM 
  		(
  			SELECT ROWNUM R, P.*FROM
  				(
  					SELECT * FROM PRODUCT
  					<include refid="searchCondition"></include>
  					AND PRODUCTQ IS NULL
  					ORDER BY PRODUCTNUM DESC
  				)P
  		)
  	WHERE R BETWEEN #{startRow} AND #{lastRow}
  </select>
  
  <update id="setProductHit" parameterType="Integer">
  		UPDATE PRODUCT SET
  		PRODUCTHIT = PRODUCTHIT + 1
  		WHERE PRODUCTNUM = #{productNum}
  </update>
  
  <select id="getProductTopList" resultType="ProductDTO">
 		SELECT * FROM(
			SELECT ROWNUM R, A.* FROM
			(SELECT * FROM PRODUCT ORDER BY PRODUCTHit DESC) A
		)WHERE R BETWEEN 1 AND 5
 	</select>
 	
 	<!-- pic -->
 	<insert id="setProductPicAdd" parameterType="ProductPicDTO">
 		INSERT INTO PRODUCTPIC VALUES (#{productNum},#{memberId})
 	</insert>
 	
 	<delete id="setProductPicDelete" parameterType="ProductPicDTO">
 		DELETE PRODUCTPIC WHERE PRODUCTNUM=#{productNum} AND memberId = #{memberId}
 	</delete>
 	
 	<select id="getProductPicMyList" parameterType="ProductPicDTO" resultType="ProductPicDTO">
 		SELECT * FROM PRODUCTPIC WHERE memberId = #{memberId}
 	</select>
 	<select id="checkAlreadyProductPic" parameterType="ProductDTO" resultType="ProductPicDTO">
 		SELECT * FROM PRODUCTPIC WHERE PRODUCTNUM=#{productNum} AND memberId = #{memberId}
 	</select>
  	
  	<update id="setProductUpdateState" parameterType="ProductDTO">
  		UPDATE PRODUCT SET state = 1 WHERE PRODUCTNUM=#{productNum} 
  	</update>
  	
  	<select id="getMyProductPicCount" parameterType="MemberDTO" resultType="Integer">
  		SELECT COUNT(*) FROM PRODUCTPIC P WHERE memberId = #{memberId}
  	</select>
  </mapper>
