<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.main.branch.review.ReviewDAO">
 
 	<sql id="searchCondition">
 			WHERE
			<choose>
				<when test="kind == 'memberId'">
					MEMBERID
				</when>
				<otherwise>
					REVIEWCONTENTS
				</otherwise>
			</choose>
			LIKE '%' || #{search} || '%' AND PRODUCTNUM = #{productNum}
 	</sql>
 	<select id="getReviewList" parameterType="ReviewDTO" resultType="ReviewDTO">
 		SELECT * FROM(
			SELECT * FROM REVIEW
			WHERE PRODUCTNUM = #{productNum}
			ORDER BY REVIEWNUM DESC
		)
 	</select>
 	<select id="getReviewCount" parameterType="Pager" resultType="Integer">
 		SELECT COUNT(*) FROM REVIEW <include refid="searchCondition"></include>
 	</select>
 	
 	<insert id="setReviewAdd" parameterType="ReviewDTO">
 		INSERT INTO REVIEW VALUES(SEQ.NEXTVAL,#{productNum},#{memberId},#{reviewContents},9)
 	</insert>
 	
 	<update id="setReviewUpdate" parameterType="ReviewDTO">
 		UPDATE REVIEW SET REVIEWCONTENTS = #{reviewContents},reviewScore = #{reviewScore} WHERE REVIEWNUM = #{reviewNum}
 	</update>
 	
 	<delete id="setReviewDelete" parameterType="ReviewDTO">
 		DELETE REVIEW WHERE REVIEWNUM = #{reviewNum}
 	</delete>
 	<select id="getReviewDetail" parameterType="ReviewDTO" resultType="ReviewDTO">
 		SELECT * FROM REVIEW WHERE REVIEWNUM = #{reviewNum}
 	</select>
 	
 </mapper>
 
<!--  private Integer inqCommentsNum;
	private Integer inquiryNum;
	private String memberId;
	private String inqCommentsContents; -->